* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#container {
  height: 100vh;
  width: 100%;
  font-family: sans-serif;
  position: absolute;
}

h1 {
  font-family: 'Merriweather', serif;
  font-size: 63px;
}
h2 {
  font-family: $titlefont;
  font-size: 37px;
  margin-bottom: 18px;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  padding : 17px 40px;
  background-color: $primecolor;
  margin : 20px;
  color: #FFFFFF;
}


.top {
  height: 58px;
  width: 58px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $primecolor;
  position: fixed;
  right: 0;
  bottom: 30%;
  z-index: 999;
  a {
    color: $textcolor1;
    text-align: center;
    i {
      color: $textcolor1;
    }
    p {
      margin-bottom: 0;
      &:hover {
        display: none;
      }
    }
  }
}

.red {
  height: 50px;
  width: 50px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  position: fixed;
  right: 0;
  bottom: 45%;
  &:hover {
    cursor: pointer;
  }
  img {
    width: 70%;
  }
}

.sale {
  height: 50px;
  width: 50px;
  background-color: $backgroundcolor1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  position: fixed;
  right: 0;
  bottom: 55%;
  box-shadow: 1px 1px 1px 2px #CECECE;
  &:hover {
    cursor: pointer;
  }
  img {
    width: 60%;
  }
}


i {
  color: #FFFFFF80;
  &:hover {
    cursor: pointer;
  }
}
.active {
  color: #FFFFFF;
}

.selected {
  border-left: 7px solid $primecolor;
  a {
    color: $primecolor;
  }
}

.fa-check {
  color: $primecolor;
}

.fa-times {
  color: #898989;
}

.fade-in {
  animation : fadeInLeft;
  animation-duration: 1s;
}
