footer {
  width: $widthauto;
  background-color: $footerBackground;
  a {
    font-size: 15px;
    color: $textColorLightGrey;
    &:hover {
      color: $primecolor;
    }
  }
  .footer-top {
    width: 90%;
    padding-top: 160px;
    margin: auto;
    display: flex;
    border-bottom: 1px solid $textColorLightGrey;
    div {
      width: 25%;
      @include flexColumn;
      align-items: flex-start;
      padding: 10px;

      #end-logo {
        width: 140px;
        margin-bottom: $margin30;
      }
      p {
        font-size: 15px;
        color: $textColorLightGrey;
        line-height: 26px;
        margin-bottom: $margin30;
      }
      h3 {
        font-family: $titlefont;
        color: $textcolor1;
        font-size: 22px;
        margin-bottom: $margin30;
      }
      a {
        line-height: 40px;
      }
      ul li h4 a {
              font-family: $titlefont;
              color: $textColorLightGrey;
              font-size: 16px;
              line-height: 12px;
              &:hover {
                color: $primecolor;
              }

          p a {
              font-size: 14px;
              color: $textColorDrkGrey;
            }
      }
      img {
        width: $widthauto;
      }
      .contacts {
        width: $widthauto;
        a {
          margin-bottom: $margin30;
          color: $textcolor1;
          font-size: 12px;
          line-height: 12px;
          i {
            color: $textcolor1;
            margin-right: 5px;
          }
        }

      }


    }
  }
  .footer-bottom {
    @include flexJSpace;
    width: 90%;
    margin: auto;
    height: 80px;
    color: #959595;
    align-items: center;
    .social {
      display: flex;
      span {
        margin-right: 20px;
      }
      ul {
        width: 80px;
        @include flexJSpace;
        li a {
          i:hover {
            color: $primecolor;
          }
        }
      }
    }
  }
}
