header {
  @include backgroundSize;
  background-image: url('../img/course-9-f-img.jpg');
  width: $widthauto;
  height: 670px;
  color: $textcolor1;
  position: relative;
  .layover {
    position: absolute;
    top: 0;
    left: 0;
    width: $widthauto;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    nav {
      height: 100px;
      width: $widthauto;
      @include flexAcenter;
      justify-content: space-around;
      .logo{
        width: 25%;
        img {
          width: 166px;
        }
      }
      .links {
        width: 50%;
        ul {
          @include flexJSpace;
          li {
            display: inline-block;
            font-size: 14px;
            a {
              color: $textcolor1;
            }
          }
        }
      }
      .icons {
        position: relative;
        a  i {
            margin: 10px;
            font-size: 20px;
            color: $textcolor1
          }
          .search {
            width: 300px;
            height: 50px;
            background-color: $backgroundcolor1;
            display: flex;
            align-items: center;
            justify-content: space-around;
            position: absolute;
            top: 60px;
            right: 80px;
            border-top: 5px solid $primecolor;
            opacity: 0;
            a  i {
              color: $textColorLightGrey;
            }
            input {
              width: 230px;
              margin-left: 20px;
              outline: none;
              border: none;
            }
          }
          .appear {
            opacity: 1;
          }
      }
    }
    .jumbo {
      @include flexColumn ;
      height: calc(100% - 100px);
      text-align: center;
      .mainBox {
        width: 75%;
        margin: auto;
        @include flexColumn;
        align-items: center;
        justify-content: center;
        @include animationFade;
        h1 {
          margin : 20px;
        }
        p {
          font-size: 16px;
          margin: 20px;
          line-height: 30px;
        }
        .btn:hover {
          background-color: $textColorBlueDrk;
        }
      }
      .navIcons {
        margin: 10px;
        i {
          margin: 5px;
          font-size: 15px;
        }
        .active {
          color: $textcolor1;
        }
      }
    }

  }

}
