header {
  @include backgroundSize;
  background-image: url('../img/course-9-f-img.jpg');
  width: 100%;
  height: 675px;
  color: $textcolor1;
  position: relative;
  .layover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    nav {
      height: 100px;
      width: $widthauto;
      @include flexAcenter;
      justify-content: space-around;
      .logo{
        width: 25%;
        img {
          width: 166px;
        }
      }
      .links {
        width: 50%;
        ul {
          @include flexJSpace;
          li {
            display: inline-block;
            font-size: 14px;
            a {
              color: $textcolor1;
            }
          }
        }
      }
      .icons {
        a  i {
            margin: 10px;
            font-size: 20px;
            color: $textcolor1
          }
      }
    }
    .jumbo {
      @include flexColumn ;
      height: calc(100% - 100px);
      text-align: center;
      .mainBox {
        width: 75%;
        margin: auto;
        @include flexColumn;
        align-items: center;
        justify-content: center;
        h1 {
          margin : 20px;
        }
        p {
          font-size: 16px;
          margin: 20px;
          line-height: 30px;
        }
        .btn:hover {
          background-color: #55ACEE;
        }
      }
      .navIcons {
        margin: 10px;
        i {
          color : #C1B7B9;
          margin: 5px;
          font-size: 15px;
        }
        .active {
          color: #FFFFFF;
        }
      }
    }

  }

}
