main {
  width: $widthauto;
  .choice {
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    ul {
      width: $widthauto;
      display: flex;
      justify-content: space-around;
      li {
        display: inline-block;
        height: 200px;
        width: 160px;
        background-color: #F2F8FC;
        img {
          margin-bottom: 20px;
          transition: 0.3;
          &:hover {
            transform: scale(1.2);
            transition: 0.3;
          }
        }
        a {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
    }

  }
  .tutor {
    width: 100%;
    padding: 30px 30px 0 30px;
    border-bottom: 1px solid lightgrey;
    position: relative;
    p {
      font-size: 17px;
      margin-bottom: 17px;
    }
    a {
      color: $primecolor;
      font-size: 14px;
      font-weight: 700;
      display: block;
    }
  }
  .two {
    padding: $standardPadding;
    display: flex;
    position: relative;
    .globe {
      margin-top: 160px;
      width: 50%;
      img {
        width: 100%;
      }
    }
    .empowering {
      margin-top: 100px;
      width: 40%;
      padding: 20px;
      p {
        font-size: 17px;
        line-height: 26px;
      }
      .number {
        display: flex;
        width: 100%;
        .user , .event {
          font-family: $titlefont;
          width: 50%;
          color: $primecolor;
          h3 {
            font-size: 48px;
            margin: 10px;
          }
          p {
            font-size: 18px;
            font-weight: 700;
          }
        }
      }
    }
  }
  .three {
    @include backgroundSize;
    background-position: center;
    background-image: url('../img/h5-parallax-img-1.png');
    background-attachment: fixed;
    width: $widthauto;
    height: 640px;
    padding: 120px 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    .slide {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      height: 300px;
      p {
        font-size: 18px;
        line-height: 30px;
        color: $textcolor1;
      }
      .student {
        color: $textcolor1;
        h3 {
          font-family: $titlefont;
          font-size: 22px;
          margin-bottom: 20px;
        }
        h5 {
          font-size: 14px;
        }
      }
    }
    .circle i {
      margin: 5px;
    }

  }
  .four {
    width: $widthauto;
    padding: 120px 100px 30px 30px;
    height: 680px;
    display: flex;
    border-bottom: 1px solid lightgrey;
    .list {
      width: 35%;
      li {
        width: 290px;
        height: 76px;
        background-color: #fcfcfc;
        color: $primecolor;
        padding-left: 25px;
        border: 1px solid gray;
        border-bottom: none;
        display: flex;
        align-items: center;
        a {
          color: #808080;
        }
        &:last-child {
          border-bottom: 1px solid gray;
        }
      }
      .selected {
        border-left: 7px solid $primecolor;
        a {
          color: $primecolor;
        }
      }
    }
    .learning {
      width: 65%;
      position: relative;
      p {
        line-height: 26px;
        font-size: 17px;
        color: #808080;
        margin-bottom: 59px;
      }
      ul {
        line-height: 48px;
        li {
          font-size: 17px;
          color: #808080;
          i {
            margin-right: 20px;
            color: $primecolor;
          }
        }
      }
      img {
        position: absolute;
        right: -32px;
        bottom: 78px;
        width: 120px;
      }
    }
  }
  .five {
    @include backgroundSize;
    background-image: url('../img/page-background-img.png');
    .five-top {
      padding: $standardPadding;
      border-bottom: 1px solid lightgrey;
      .popular {
        padding-top: 30px;
        width: 70%;
        margin: auto;
        text-align: center;
        h2 {
          font-size: 45px;
        }
        p {
          font-size: 17px;
          color: #595959;
        }
      }
      .specialities {
        padding-top: 100px;
        display: flex;
        justify-content: space-around;
        .card {
          background-color: $backgroundcolor1;
          width: 340px;
          height: 460px;
          margin: 20px;
          border: 1px solid #f2f2f2;
          img {
            width: 100%;
          }
          .info {
            padding: 14px;
            position: relative;
            h4 {
              font-family: $titlefont;
              font-size: 15px;
              margin: 14px 0 10px;
            }
            h6 {
              font-size: 14px;
              color: #B9B9B9;
              margin-bottom: 14px;
            }
            p {
              font-size: 15px;
              color: grey;
              line-height: 26px;
            }
            .cost {
              position: absolute;
              background-color: $primecolor;
              right: 10px;
              top: 22px;
              width: 53px;
              text-align: center;
              padding: 4px 8px;
              border-radius: 12px;
              color: $textcolor1;
              font-size: 14px;
            }
            .free {
              background-color: #FFD740;
            }
          }
          .foot {
            padding-left: 14px;
            margin-top: 20px;
            span {
              color: #B9B9B9;
              margin-right: 8px;
              i {
                color: #B9B9B9;
                margin-right: 8px;
              }
            }
          }
        }
      }
      .navIcons {
        text-align: center;
        margin: 30px 0 30px;
        i {
          color: #9CE0FF;
        }
        .active {
          color: $primecolor;
        }
      }
    }
    .five-bottom {
      padding: $standardPadding;
      border-bottom: 1px solid lightgrey;
      .pricing {
        padding-top: 30px;
        width: 70%;
        margin: auto;
        text-align: center;
        h2 {
          font-size: 45px;
        }
        p {
          font-size: 17px;
          color: #595959;
        }
      }
      .table {
        width: 90%;
        margin: 70px auto;
        margin-bottom: 50px;
        &::after {
          @include clearfix;
        }
        .line {
          float: left;
          border: 1px solid #f2f2f2;
          width: 25%;
          background-color: $backgroundcolor1;
          text-align: center;
          li {
            border-bottom : 1px solid #f2f2f2;
            height: 62px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #808080;
            .btn {
              background-color: $backgroundcolor1;
              border: 2px solid grey;
              color: #808080;
              font-weight: 700;
              &:hover {
                background-color: $primecolor;
                color: $textcolor1;
              }
            }
          }
        }
        .line li:first-child {
          flex-direction: column;
          justify-content: space-around;
          height: 180px;
          border-top: 6px solid #F2F8FC;
          background-color: #F7FDFF;
          &:hover {
            border-top: 6px solid $primecolor;
            cursor: pointer;
          }
        }
        .line li:last-child {
          border-bottom: none;
          background-color: #F7FDFF;
          height: 96px;
        }
        .aside li:first-child {
          background-color: $backgroundcolor1;
          height: 200px;
          justify-content: flex-end;
          h3 {
            font-family: $titlefont;
            font-size: 24px;
            margin-bottom: 25px;
            color: #000000;
          }
        }
        .aside li:last-child {
          background-color: $backgroundcolor1;
          height: 62px;
        }
      }
    }
  }
  .six {
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    ul {
      display: flex;
      width: 85%;
      li {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 95%;
          &:hover {
            cursor: pointer;
            opacity: 0.5;
          }
        }
      }
    }
  }

}
