@mixin backgroundSize {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}


@mixin clearfix {
  content: "";
  display: table;
  clear: both;
}

@mixin flexAcenter {
  display: flex;
  align-items: center;
}
@mixin flexJSpace {
  display: flex;
  justify-content: space-between;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}
