// colori testi
$primecolor: #40C4FF;
$textcolor1: #FFFFFF;
$textcolorBlack: #000000;
$textColorGrey: #808080;
$textColorLightGrey: #CECECE;
$textColorDrkGrey: #B9B9B9;
$textColorBlueDrk: #55ACEE;
$textColorAlmostBlack: #595959;
$textColorLightBlue: #9CE0FF;

// colori background
$backgroundcolor1: #FFFFFF;
$backgroundcolorLBlue: #F2F8FC;
$backgroundcolorUltraLBlue: #F7FDFF;
$backgroundcolorYellow: #FFD740;
$footerBackground: #222222;

// Colori bordi
$borderColorLightGrey: #f2f2f2;

// misure
$widthauto: 100%;
$standardPadding: 30px;
$margin30: 30px;

// font
$titlefont: 'Merriweather', serif;
